// HEADER
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $color-white;
  z-index: 3;
}

.header__wrapper {
  @include display-reset;
  padding: 18px 0px;
}

.header__link {
  @include link-reset;
}

// NAV

.nav__list {
  display: flex;
  align-items: center;
  @include reset-list;
}

.nav__item~.nav__item {
  padding-left: 30px;
}

.nav__item {
  position: relative;

  // padding-top: 20px;
  a {
    display: block;
  }

  .nav__line {
    position: absolute;
    top: 44px;
    transition: all 0.2s ease-in;
    display: inline-block;
    background: transparent;
    width: 40px;
    height: 5px;
  }
}

.nav__item:hover .nav__line {
  width: 40px;
  height: 5px;
  background: $color-hover;
}

.nav__item:hover a {
  color: #000;
}

.nav__link {
  @include link-reset;
}

.toggler {
  border: none;
  background: transparent;
  width: 24px;
  height: 15px;
  margin: 0;
  display: none;
  padding: 0;
  overflow: hidden;
}

// RESPONSIVE STYLES.

@include breakpoint-down(700px) {
  .header__wrapper {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .header__nav {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 22px 24px;
    margin-left: 0;
    height: 100vh;
    background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);

    .nav__list {
      background-color: $color-white;
      width: 100%;
      flex-direction: column;
      margin: 10px auto;
      padding: 32px 130px;

      .nav__item {
        text-align: center;
        padding: 0;
        margin-bottom: 24px;

        .nav__line {
          display: none;
        }
      }
    }
  }

  .header__logo {
    margin-left: 24px;
  }

  .header__button {
    display: none;
  }

  .toggler {
    display: block;
    margin-right: 24px;
  }
}